.learn {
  text-align: center;
  &__container {
    // border: 1px dashed yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
  &__heading {
    @include heading;
    @include light;
  }

  &__play {
    position: relative;
    height: 14rem;
    width: 14rem;
    background-color: #39c2d7;
    border-radius: 50%;
    z-index: 3;
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
      background-color: #fff;
      color: $primary;
    }

    &:hover &-btn {
      color: $primary;
    }

    &-btn {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 8rem;
      transform: translate(-37%, -50%);
      z-index: 5;
      color: #fff;
    }
  }
  &__text {
    font-size: 2.4rem;
    color: #fff;
  }
}
